@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
.hljs { 
    display:block;
    overflow-x:auto;
    padding:.5em;
    background:#eaeef3;
    color:#00193a;
}

.hljs-doctag,
.hljs-keyword,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-strong,
.hljs-title { 
    font-weight:700;
}

.hljs-comment { 
    color:#738191;
}

.hljs-addition,
.hljs-built_in,
.hljs-literal,
.hljs-name,
.hljs-quote,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-string,
.hljs-tag,
.hljs-title,
.hljs-type { 
    color:#0048ab;
}

.hljs-attribute,
.hljs-bullet,
.hljs-deletion,
.hljs-link,
.hljs-meta,
.hljs-regexp,
.hljs-subst,
.hljs-symbol,
.hljs-template-variable,
.hljs-variable { 
color:#4c81c9;
}

.hljs-emphasis { 
    font-style:italic;
}

@font-face { 
    font-family:Sahel;
    font-weight:regular;
    src:url(../font/sahel.woff);
}
@font-face { 
    font-family:Sahel;
    font-weight:700;
    src:url(../font/sahel-bold.woff);
}

body,
html { 
    font:16px/1.618 Anonymous Pro;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-rendering:optimizelegibility;
    margin: 0 auto;
}
@media (max-width:44rem) { 
    body,
    html { 
        font-size:14px;
    }
}

.container { 
    max-width:54rem;
    margin:0 auto;
}
@media (max-width:55rem) { 
    .container { 
        max-width:100%;
        margin:0 1rem;
    }
}

a { 
    color:#0048ab;
    text-decoration:none;
}
a:hover { 
    text-decoration:underline;
}

ul { 
    list-style-type:square;
}
ul ul {
    list-style-type:disc;
}
ul ul ul {
    list-style-type:circle;
}
@media (max-width:44rem) { 
    ul {
        margin:0;
        padding:0 0 0 1rem;
    }
}

dd::before {
    content: "›";
}

code,
pre { 
    font-family:Anonymous Pro;
}
code { 
    background-color:#f4f6f9!important;
    padding:2px 5px;
}
pre { 
    direction:ltr!important;
    line-height:1.618!important;
}

blockquote { 
    color:#666;
    font-style:italic;
}
hr { 
    border:1px solid #ededed;
    border-bottom:none;
    margin:2rem 0;
}

.article-list a { 
    color:#56445d;
}
.article-list article {
    margin-bottom: 3rem;
}
.article-list time { 
    color:#999;
    display:block;
    margin-right:1rem;
    white-space:nowrap;
}
.article-list h3 {
    font-weight: 400;
    font-size: 1.3rem;
    margin:0;
}
.article-list h3 a {
    color: #404040;
}
.article-list h4 {
    margin: 0; 
    color: #99a4b1;
}

/*.article-list h3 { 
    margin-top:2rem;
}
.article-list h3:after { 
    content:" ¬";
}*/
.article .time,
.article .title { 
    margin:0;
}
.article .time { 
    color:#aaabd3;
    font-weight:400;
}
.article .content { 
    color:#222;
}
.article img { 
    max-width:100%;
    margin:0 auto 1rem;
    display:block;
}

.article table.markmod_table {
    border: 1px solid #00193a;
    border-collapse: collapse;
    width: 100%;
    direction: ltr;
    text-align: left;
}
.article table.markmod_table td, .article table.markmod_table th {
    border-left: 1px solid #00193a;
    padding: 5px 10px;
    width: auto;
}
.article table.markmod_table th {
    background-color: #eee;
    border-bottom: 1px solid #00193a;
    text-align: left;
}
.article table.markmod_table tr:nth-child(odd) {
    background-color: #f1f5fa;
}
.article table.markmod_table table table {
    margin: 10px 0;
    width: auto;
}
.article table.markmod_table table table th, .article table.markmod_table table table td {
    background-color: #fff;
    border: 1px solid #00193a;
    padding: 0.2em 0.5em;
    width: auto;
}
article .meta {
    background: #eeeeee;
    margin-top: 60px;
    text-align: center;
    font-size: 0.8rem;
    padding: 1rem 0;
    border-top: 3px solid #dedede;
  }
  article .meta hr {
    
    border: none;
    border-top: 3px solid #dedede;
    margin-bottom: 10px;
  }

.delimiter { 
    border-top:1px solid #ededed;
}
.delimiter .logo { 
    transform:translateY(-50%);
    width:2rem;
    height:2rem;
    display:block;
    margin:0 auto;
    padding:0 1rem;
    background-color:#fff;
}
.delimiter .logo img { 
    display:block;
    max-width:100%;
}

.comments { 
    margin-top:5rem;
}

.pagination { 
    margin:5rem 0 -3rem;
}
.pagination a { 
    color:#56445d;
    font-size:.9rem;
}
.pagination nav { 
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:justify;
    justify-content:space-between;
}
.pagination nav a { 
    display:-ms-flexbox;
    display:flex;
    -ms-flex:0 0 45%;
    flex:0 0 45%;
    text-align:left;
}
.pagination nav a span { 
    -ms-flex:1;
    flex:1;
}
.pagination nav a i { 
    font-style:normal;
    width:1.5rem;
}
.pagination nav a.next { 
    text-align:right;
}
.pagination nav a.next i { 
    -ms-flex-order:1;
    order:1;
}

header {
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
}
header .logo {
    padding-top: 100px;
    padding-bottom: 50px;
    border-bottom: 2px solid #3f454c;
}
header h1.name-title {
    display: flex;
    display: -webkit-flex;
    -ms-flex:1;
    flex:1;
    font-size:1rem;
    font-weight:400;
    margin:0
    }
    header h1.name-title h1 a {
    color:#000
    }
header h1 { 
    font-size:2.5rem;
    font-weight:400;
    margin:0;
}
header h1 a { 
    color:#444;
}
header h4 {
    color: #738191;
    font-weight: 200;
}

header nav { 
    background-color: #f4f6f9;
    margin: 0;
    padding: 5px;
    display: -ms-flexbox;
    display: flex;
}
header nav ul { 
    list-style:none;
    margin:0;
    padding:0;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:left;
    justify-content:left;
}
header nav li { 
    margin:0 .5rem;
}
header nav a { 
    color:#56445d;
}

footer { 
    margin-top:5rem;
    padding:3rem 0 3rem;
    border-top: 1px solid #DDD;
}
footer p { 
    margin:0;
    text-align:center;
    font-size:.9rem;
    color:#6e7783;
}
footer p a { 
    color:#3f454c;
}


html[lang=Farsi] body,
html[lang=Farsi] html { 
    font-family:Sahel, Anonymous Pro;
}

html[lang=Farsi] .container { 
direction:rtl;
}
@media (max-width:44rem) { 
    html[lang=Farsi] ul { 
        padding:0 1rem 0 0;
    }
}

html[lang=Farsi] .article-list time { 
    margin:0 0 0 1rem;
    width:2.5rem;
}
html[lang=Farsi] .article-list h4 { 
    font-weight:400;
}
/*html[lang=Farsi] .article-list h3:after { 
    content:" ⌐";
}*/
html[lang=Farsi] .article .content { 
    line-height:1.8;
}
html[lang=Farsi] .pagination nav a { 
    text-align:right;
}
html[lang=Farsi] .pagination nav a.next { 
    text-align:left;
}